# Binaries for programs and plugins
rp-archiver
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
.vscode
dist/

*.py
*.pyc

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
deploy
fabfile.py
